@charset "UTF-8";

/* 重置样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

/* css */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    font-size: 14px;
    color: #444;
    /* background: url(../images/hhh.jpg) left no-repeat; */
    /* background-size: 100% 100%; */
}

/* 样式 */
.topmain {
    width: 388px;
    /* height: 431px; */
    margin: 0px auto;
    background-color: rgba(255, 246, 250, 0.5);
    border: 1px solid black;
    border-radius: 6px;
}

.top {
    width: 100%;
    height: 72px;
    padding-bottom: 9px;
    font-size: 30px;
    font-weight: bold;
    line-height: 72px;
    color: #444444;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

form {
    width: 388px;
    /* height: 358px; */
    height: 458px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form div {
    height: 34px;
    /* margin: 0 !important; */
}

form .name {
    height: 34px;
    display: flex;
}

form .name .name1 {
    width: 50%;
    float: left;
    border-radius: 5px 0 0 5px;
}

form .name .name2 {
    width: 50%;
    float: left;
    border-radius: 0 5px 5px 0;
}

form .forget {
    width: 100%;
    height: 20px;
    padding-right: 10px;
    text-align: right;
}

form .forget a {
    font-size: 14px;
    line-height: 20px;
    color: #0070c9;
}

form .btn1 {
    width: 100%;
    height: 34px;
    text-align: center;
    background-color: #0070c9;
    color: white;
    font-size: 14px;
}

form .btn2 {
    width: 100%;
    height: 34px;
    text-align: center;
    background-color: #EEEEEE;
    color: black;
    font-size: 14px;
}

form .phone {
    display: flex;
}

form .phone select {
    width: 50px;
    padding: 6px 5px !important;
}

form .phone input {
    flex: 1;
}

form .birth {
    display: flex;
}

form .birth input {
    width: 25%;
}

form .gender {
    width: 100%;
}

form .reg {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#comments {
    height: 100px;
    display: block;
}

.phone {
    margin-top: 65px;
}

.topmain{
    margin-top: 20px;
}

.hot img{
    
}
